<section class="author">
    <div class="container">
        <h1> UserBooks</h1>
    </div>
    <div class="container pt-5 pb-5">
        <div class="col-2">
            <div class>

                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h2 class="card-title" class="text-light">User Books</h2>

                        <label for="Status" class="ww" class="text-light">UserMail</label>
                        <input class="form-control" name="mailId" [(ngModel)]='input.mailId' class="ii">
                        <label for="Status" class="ww" class="text-light">PaymentId</label>
                        <input class="form-control" name="paymentId" [(ngModel)]='input.paymentId' class="ii">
                        <button (click)='
                            bookByMailId()' class='btn-outline-success'>Get Books</button>
                        
                    </div>
                </div>
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <h2 class="card-title" class="text-light">Refund Status</h2>
                        <label for="Status" class="ww" class="text-light">UserMail</label>
                        <input class="form-control" name="mailId" [(ngModel)]='refund.mailId' class="ii">
                        <label for="Status" class="ww" class="text-light">PaymentId</label>
                        <input class="form-control" name="bookId" [(ngModel)]='refund.bookId' class="ii">
                        <button (click)='
                                refundByPaymentId()' class='btn-outline-success'>refund</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>