<h1> Update Book</h1>



<div class="container col-md-6">
    <div class="row">
        <div class="col-md-12 ">
            <form>
                <div class="flex" >
                    <div class="input-group-text">
                        <label for="Title" class="w">BookId</label>
                        <input class="form-control" name="id" [(ngModel)]='updatedinfo.id' class="i">
                    </div>
                    <div class="input-group-text">
                        <label for="Title" class="w">mail</label>
                        <input class="form-control" name="mail" [(ngModel)]='updatedinfo.mail' class="i">
                    </div>
                    <button (click)='getBook()' class='btn btn-outline-success'>Get</button>
                </div>
                
                <div class="flex">
                    <div class="input-group-text">
                        <label for="Title" class="w">BookId</label>
                        <input class="form-control" name="id" [(ngModel)]='book.id' class="i">
                    </div>
                    <div class="input-group-text">
                        <label for="Title" class="w">Title</label>
                        <input class="form-control" name="Title" [(ngModel)]='book.title' class="i">
                    </div>
                   
                </div>
                <div class="flex">
                    <div class="input-group-text">
                        <label for="category" class="w">Category</label>
                        <input class="form-control" name="Category" [(ngModel)]='book.category' class="i">
                    </div>
                    <div class="input-group-text">
                        <label for="Publisher" class="w">publisher</label>
                        <input class="form-control" name="publisher" [(ngModel)]='book.publisher' class="i">
                    </div>
                </div>
                <div class="flex">
                    <div class="input-group-text">
                        <label for="Date" class="w">publisherdate</label>
                        <input type="date" placeholder="publishedDate" class="form-control" name="publishedDate"
                            [(ngModel)]='book.publishedDate' class="i">
                    </div>
                    <div class="input-group-text">
                        <label for="Price" class="w">Price</label>
                        <input class="form-control" name="Price" [(ngModel)]='book.price' class="i">
                    </div>
                </div>
                <div class="flex">
                    <div class="input-group-text">
                        <label for="Content" class="w">Content</label> <input class="form-control" name="Content"
                            [(ngModel)]='book.content' class="i">
                    </div>
                    <div class="input-group-text">
                        <label for="Image" class="w">Image</label>
                        <input type="file" class="form-control" id="inputGroupFile02" name="Image"
                            [(ngModel)]='book.image' class="i">
                    </div>
                </div>
                <div class="flex">
                    <div class="input-group-text">
                        <label for="Author" class="w">Author</label>
                        <input class="form-control" name="Author" [(ngModel)]='book.author' class="i">
                    </div>
                    <div class="input-group-text">
                        <label for="Status" class="w">Status</label>
                        <input class="form-control" name="Status" [(ngModel)]='book.status' class="i">
                    </div>
                </div>
                <div>
                    <button (click)='updateBook()' class='btn btn-outline-success'>Update</button>
                </div>

            </form>
        </div>
    </div>
</div>