<nav class="navbar navbar-expand-lg  navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">Digital Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="booklist">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="user">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="signup">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="loginroute">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="createbook"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="userbooks"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="author"></a>
                </li>
            </ul>

        </div>
    </div>
</nav>
<router-outlet></router-outlet>